body{
    background-color:rgb(255, 255, 255);
}

.mapdiv a{
    padding: 100%;
}

.mapdiv{
    background-color:rgb(107, 185, 185);
    width: 30%;
    margin: 1% 15% 0% 7%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.mapdiv path {

    stroke: rgb(211, 93, 93);
    stroke-width: 4px;
    transition: fill 0.3s;
}

.status {
    padding-top: 1%;
}

.status h2{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 1px ;
}

.box {
    width: 35%;
    height: 50%;
    text-align: center;
    background-color: lightblue;
    margin-top: 5%;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; */
}

.boxshowinfo {
    display:flex;
    flex-direction: row;
    width: auto;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.boxshowinfo div {
    margin: auto;
    
}

.boxshowstatus {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    display:flex;
    flex-direction: row;
    margin-top: 1%;
    padding: 2%;
}
.boxshowstatus div {
    margin: auto;
    
}

#row1 {
   display:flex;
   padding: 0%;
   margin: auto;
}

#myDIV {
    width: auto;
    padding: 3%;
    padding-top: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
    text-align: center;
    box-shadow: rgba(193, 22, 22, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

#myDIV h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin: 1px;
    margin-top: 2%;
    padding: 5%;
    box-shadow: rgba(28, 50, 77, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}
#box1 {
    width: 25%;
    margin: auto;
    padding: 1% 0px;
    text-align: center;
    background-color: lightblue;
    margin-top: 5%;
    margin-right: 20%;
    /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
}

.qandatbl {
    border: 1px solid black; 
    margin: auto; 
}

tbody {
    height: 80em;
    overflow: scroll;
    
  }